<div class="container" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;" ng-swipe-left="swipeLeft()">


<div class="animate-show-hide" ng-show="currentRound">
    <div class="row" style="margin-bottom: 8px;">
        <div class="col-xs-4 text-center">
            <span class="text-muted text-center">Strokes</span>
        </div>
        <div class="col-xs-4">
            <h4 class="text-center" style="margin-top: -10px;">{{currentRound.data.courseName}}</h4>
        </div>
        <div class="col-xs-4 text-center">
            <span class="text-muted text-center">Points</span>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid lightgrey; padding-bottom: 5px;">
        <div class="col-xs-3 text-center">
            <span class="lead">{{currentRound.data.strokes}}</span>
        </div>
        <div class="col-xs-3" style="border-right: 1px solid lightgrey;">
        <span class="h3 text-center"><strong>
            {{currentRound.toPar > 0 ? "+" : ""}}{{currentRound.data.toPar}}</strong></span>
        </div>
        <div class="col-xs-3 text-center">
        <span class="h3 text-center"><strong>
            {{pointSpec() > 0 ? "+" : ""}}{{pointSpec()}}</strong></span>
        </div>
        <div class="col-xs-3 text-center">
            <span class="lead">{{roundPoints()}}</span>
        </div>
    </div>

    <div class="row" style="font-weight: bold;">
        <div class="col-xs-3 text-center"><span class="text-muted small">Hole</span><br/>{{holeNro}}</div>
        <div class="col-xs-3 text-center"><span class="text-muted small">Par</span><br/>
            {{currentRound.data.holes[holeNro].gamePar}}
            <span class="text-muted" style="font-size: 12px;">({{currentRound.data.holes[holeNro].par}})</span>
        </div>
        <div class="col-xs-3 text-center"><span class="text-muted small">Length</span><br/>
            {{currentRound.data.holes[holeNro].length}}m
        </div>
        <div class="col-xs-3 text-center"><span class="text-muted small">Hcp</span><br/>
            {{currentRound.data.holes[holeNro].hcp}}
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading row" style="margin-right: 0; margin-left: 0; margin-bottom: 0;" data-toggle="collapse"
                 data-target="#opening" data-parent="#accordion">
                <div class="col-xs-6">Opening</div>
                <div class="col-xs-4">{{mapStrokes('opening')}}</div>
            </div>
            <div id="opening" class="panel-body collapse collapse-content">
                <clubselector selection="currentRound.data.holes[holeNro].opening" clubs="openingClubs"
                              callback="filled('opening')"
                              additional="{feel: ['Fail', 'Bad', 'Ok', 'Good', 'Excellent']}"/>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading row" style="margin-right: 0; margin-left: 0; margin-bottom: 0;" data-toggle="collapse"
                 data-target="#approach" data-parent="#accordion">
                <div class="col-xs-6">Approach</div>
                <div class="col-xs-4">{{mapStrokes('approach')}}</div>
            </div>
            <div id="approach" class="panel-body collapse collapse-content">
                <clubselector selection="currentRound.data.holes[holeNro].approach" clubs="approachClubs"
                              callback="filled('approach')"
                              additional="{feel: ['Fail', 'Bad', 'Ok', 'Good', 'Excellent']}"/>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading row" style="margin-right: 0; margin-left: 0; margin-bottom: 0;" data-toggle="collapse"
                 data-target="#chip" data-parent="#accordion">
                <div class="col-xs-6">Chip</div>
                <div class="col-xs-4">{{mapStrokes('chip')}}</div>
            </div>
            <div id="chip" class="panel-body collapse collapse-content">
                <clubselector selection="currentRound.data.holes[holeNro].chip" clubs="chipClubs"
                              callback="filled('chip')"
                              additional="{feel: ['Fail', 'Bad', 'Ok', 'Good', 'Excellent']}"/>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading row" style="margin-right: 0; margin-left: 0; margin-bottom: 0;" data-toggle="collapse"
                 data-target="#puts" data-parent="#accordion">
                <div class="col-xs-6">Puts</div>
                <div class="col-xs-4">{{currentRound.data.holes[holeNro].puts}}</div>
            </div>
            <div id="puts" class="panel-body collapse collapse-content">
                <groupselector values="putValues" selections="currentRound.data.holes[holeNro].puts" multiselect="false"
                               callback="filled('puts')"></groupselector>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading row" style="margin-right: 0; margin-left: 0; margin-bottom: 0;" data-toggle="collapse"
                 data-target="#strokes" data-parent="#accordion">
                <div class="col-xs-6">Total</div>
                <div class="col-xs-4">{{currentRound.data.holes[holeNro].strokes}}</div>
                <span class="col-xs-2 glyphicon glyphicon-exclamation-sign"
                        ng-show="currentRound.data.holes[holeNro].totalsOverridden"></span>
            </div>
            <div id="strokes" class="panel-body collapse collapse-content text-center">
                <groupselector values="totalValues" selections="currentRound.data.holes[holeNro].strokes"
                               multiselect="false" callback="totalsOverridden(true)"></groupselector>
                <strong ng-show="currentRound.data.holes[holeNro].totalsOverridden" ng-click="totalsOverridden(false)">Remove
                    override</strong>
            </div>
        </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-block btn-success" ng-click="prevHole()">
            <<
        </button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-block btn-success" ng-click="nextHole()">
            >>
        </button>
    </div>
</div>

<hr/>

<a href="#/scorecard" class="btn btn-primary btn-block">Scorecard</a>

<hr/>

<div class="row">
    <button type="button" class="btn btn-block btn-default"
            ng-click="completeRound()">Complete round
    </button>
</div>

</div>
</div>

        <pre>{{currentRound | json}}</pre>
