<div class="container" style="margin-left: 15px; margin-right: 15px;" ng-swipe-left="swipeLeft()">
<div ng-show="!currentRound" class="animate-show-hide"
     ng-animate="animate">

    <h4 class="text-center">Course</h4>
    <div class="row">

        <select class="form-control" ng-model="selectedClub">
            <option value="">--- Select course ---</option>
            <option ng-repeat="club in clubList" value="{{club}}">{{club}}</option>
        </select>
    </div>

    <div class="row" ng-show="club != null">
        <h4 class="text-center">Tee</h4>
        <div class="btn-group" style="width: 100%;">
            <button ng-repeat="course in club.courses" class="btn btn-default"
                    ng-click="selectCourse(course)"
                    style="width: 100%;"
                    ng-class="{'btn-success' : selectedCourse == course}">
                {{course.tee}}
            </button>

        </div>
    </div>


    <div class="row" ng-show="selectedCourse != null">
        <h4 class="text-center">HCP</h4>
        <div class="col-xs-2">
            <button class="btn btn-sm btn-default" style="margin-top: 22px;"
                    ng-click="hcpDown(1)"><<</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-sm btn-default" style="margin-top: 22px;"
                    ng-click="hcpDown(0.1)"><</button>
        </div>
        <div class="col-xs-4">
            <h2 class="text-center">{{hcp}}</h2>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-sm btn-default" style="margin-top: 22px;"
                    ng-click="hcpUp(0.1)">></button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-sm btn-default" style="margin-top: 22px;"
                    ng-click="hcpUp(1)">>></button>
        </div>
    </div>

    <div class="row" ng-show="selectedCourse != null">
        <h4 class="text-center">Game HCP:</h4>
        <h2 style="text-align: center;">{{gameHcp}}</h2>
    </div>

    <div class="row">
        <button class="btn btn-block btn-hg btn-success"
                ng-click="startRound()" ng-show="gameHcp != '-'">Let's
            play!
        </button>
    </div>
</div>


<div class="animate-show-hide" ng-show="currentRound">
    <div class="row" style="margin-top: -2px;">
        <div class="col-xs-4 text-center">
            <span class="text-muted text-center">Strokes</span>
        </div>
        <div class="col-xs-4">
            <h4 class="text-center" style="margin-top: -10px;">{{currentRound.courseName}}</h4>
        </div>
        <div class="col-xs-4 text-center">
            <span class="text-muted text-center">Points</span>
        </div>
    </div>
    <div class="row">
    <div class="col-xs-2 text-center">
        <span class="lead">{{roundScore()}}</span>
    </div>
    <div class="col-xs-2">
        <span class="h3 text-center"><strong>
            {{scoreSpec() > 0 ? "+" : ""}}{{scoreSpec()}}</strong></span>
    </div>
    <div class="col-xs-2 text-center" style="height: 30px;border-right: 1px solid lightgrey;"></div>
    <div class="col-xs-2 text-center h3"></div>
    <div class="col-xs-2 text-center">
        <span class="h3 text-center"><strong>
            {{pointSpec() > 0 ? "+" : ""}}{{pointSpec()}}</strong></span>
    </div>
    <div class="col-xs-2 text-center">
        <span class="lead">{{roundPoints()}}</span>
    </div>
</div>

<hr/>

<div class="row" style="font-weight: bold;">
    <div class="col-xs-3 text-center">Hole {{holeNro}}</div>
    <div class="col-xs-3 text-center">Par
        {{currentRound.holes[holeNro].gamePar}}
        <span class="text-muted" style="font-size: 10px;">({{currentRound.holes[holeNro].par}})</span>
    </div>
    <div class="col-xs-3 text-center">
        {{currentRound.holes[holeNro].length}}m
    </div>
    <div class="col-xs-3 text-center">Hcp
        {{currentRound.holes[holeNro].hcp}}
    </div>
</div>
<hr/>
<h5 class="text-center">Opening</h5>
<div class="row">
    <div class="col-xs-4">
        <button type="button" class="btn btn-sm btn-block btn-default"
                ng-click="currentRound.holes[holeNro].opening = 'left'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].opening == 'left'}">Left
        </button>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-sm btn-block btn-default"
                ng-click="currentRound.holes[holeNro].opening = 'fair'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].opening == 'fair'}">Fair
        </button>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-sm btn-block btn-default"
                ng-click="currentRound.holes[holeNro].opening = 'right'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].opening == 'right'}">Right
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-sm btn-block btn-default"
                ng-click="currentRound.holes[holeNro].openingDesc = currentRound.holes[holeNro].openingDesc == 'hazard' ? null : 'hazard'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].openingDesc == 'hazard'}">Hazard
        </button>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-sm btn-block btn-default"
                ng-click="currentRound.holes[holeNro].openingDesc = currentRound.holes[holeNro].openingDesc == 'out' ? null : 'out'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].openingDesc == 'out'}">Out
        </button>
    </div>
    <div class="col-xs-2">

    </div>
</div>

<h5 class="text-center">Puts</h5>
<div class="row text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = 0"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == 0}">0
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = 1"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == 1}">1
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = 2"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == 2}">2
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = 3"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == 3}">3
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = 4"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == 4}">4
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = 5"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == 5}">5
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].puts = '-'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].puts == '-'}">-
        </button>
    </div>
</div>

<h5 class="text-center">Strokes</h5>
<div class="row text-center">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 1"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 1}">1
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 2"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 2}">2
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 3"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 3}">3
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 4"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 4}">4
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 5"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 5}">5
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 6"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 6}">6
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 7"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 7}">7
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 8"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 8}">8
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = 9"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == 9}">9
        </button>
        <button type="button" class="btn btn-sm btn-default"
                ng-click="currentRound.holes[holeNro].strokes = '-'"
                ng-class="{'btn-info' : currentRound.holes[holeNro].strokes == '-'}">-
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-block btn-success" ng-click="prevHole()">
            <<
        </button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-block btn-success" ng-click="nextHole()">
            >>
        </button>
    </div>
</div>

<div class="row">
    <h4 class="text-center">Location</h4>
    <div class="col-xs-4">
        <button class="btn btn-default btn-block" ng-click="startTracking()" ng-show="position.end != null || position.start == null">Start</button>
        <button class="btn btn-default btn-block" ng-click="stopTracking()" ng-show="position.end == null && position.start != null">Stop</button>
    </div>
    <div class="col-xs-4 text-center">
        {{position.distance != null ? position.distance + "m" : "-"}}<br/>
        <span ng-show="position.start">+/- <strong>{{position.start.accuracy}}m</strong></span>
        +/- <strong>{{coordinates.accuracy}}m</strong>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-default btn-block" ng-click="updatePosition()">Update</button>
    </div>
</div>

<hr/>

<a href="#/analysis" class="btn btn-default btn-block">Analysis</a>
<a href="#/scorecard" class="btn btn-default btn-block">Scorecard</a>

<hr/>
<div class="row">
    <input type="text" class="form-control" placeholder="Email"
           ng-model="email"/>
</div>

<div class="row">
    <button type="button" class="btn btn-block btn-default"
            ng-click="sendRound()">Email round data
    </button>
</div>

</div>
</div>
