<div class="container text-center" style="margin-top: 15px;">

    <div class="pure-menu pure-menu-open pure-menu-horizontal"
         style="border-bottom: 1px solid lightgrey; margin-bottom: 10px;">
        <ul>
            <li><a href="#/view/{{id}}/overview">Overview</a></li>
            <li><a href="#/view/{{id}}/holes">Holes</a></li>
            <li class="pure-menu-selected"><a href="#/view/{{id}}/flow">Flow</a></li>
        </ul>
    </div>

    <div id="my-container" style="height: 400px; width: 100%; margin-bottom: 25px;">
        <cjs-line dataset="holeData" autofit="true" options="dataOptions"></cjs-line>
    </div>
</div>