<div class="container text-center" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">

    <div class="pure-menu pure-menu-open pure-menu-horizontal"
         style="border-bottom: 1px solid lightgrey; margin-bottom: 10px;">
        <ul>
            <li><a href="#/view/{{id}}/overview">Overview</a></li>
            <li class="pure-menu-selected"><a href="#/view/{{id}}/holes">Holes</a></li>
            <li><a href="#/view/{{id}}/flow">Flow</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-3 text-center">
            <h4 class="text-center text-success">Approach</h4>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.approach[0] | number:2}}</strong><br/>
            <span class="text-muted">Par 3</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.approach[1] | number:2}}</strong><br/>
            <span class="text-muted">Par 4</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.approach[2] | number:2}}</strong><br/>
            <span class="text-muted">Par 5</span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-3 text-center">
            <h4 class="text-center text-success">Chips</h4>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.chips[0] | number:2}}</strong><br/>
            <span class="text-muted">Par 3</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.chips[1] | number:2}}</strong><br/>
            <span class="text-muted">Par 4</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.chips[2] | number:2}}</strong><br/>
            <span class="text-muted">Par 5</span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-3 text-center">
            <h4 class="text-center text-success">To green</h4>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.togreen[0] | number:2}}</strong><br/>
            <span class="text-muted">Par 3</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.togreen[1] | number:2}}</strong><br/>
            <span class="text-muted">Par 4</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.togreen[2] | number:2}}</strong><br/>
            <span class="text-muted">Par 5</span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-3 text-center">
            <h4 class="text-center text-success">Puts</h4>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.puts[0] | number:2}}</strong><br/>
            <span class="text-muted">Par 3</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.puts[1] | number:2}}</strong><br/>
            <span class="text-muted">Par 4</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.puts[2] | number:2}}</strong><br/>
            <span class="text-muted">Par 5</span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-3 text-center">
            <h4 class="text-center text-success">Total</h4>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.totals[0] | number:2}}</strong><br/>
            <span class="text-muted">Par 3</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.totals[1] | number:2}}</strong><br/>
            <span class="text-muted">Par 4</span>
        </div>
        <div class="col-xs-3 text-center">
            <strong style="font-size: 18px;">{{analysis.totals[2] | number:2}}</strong><br/>
            <span class="text-muted">Par 5</span>
        </div>
    </div>
</div>