<div class="container text-center" style="margin-top: 15px;">

    <div class="pure-menu pure-menu-open pure-menu-horizontal"
         style="border-bottom: 1px solid lightgrey; margin-bottom: 10px;">
        <ul>
            <li class="pure-menu-selected"><a href="#/view/{{id}}/overview">Overview</a></li>
            <li><a href="#/view/{{id}}/holes">Holes</a></li>
            <li><a href="#/view/{{id}}/flow">Flow</a></li>
        </ul>
    </div>
    <h2>{{round.courseName}}</h2>
    <h4>{{round.timestamp | date:'dd.MM. HH:mm'}}</h4>

    <div class="row text-center">
        <div class="col-xs-5">Strokes</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5 large">{{round.data.strokes}}</div>
    </div>

    <div class="row">
        <div class="col-xs-5">To par</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5 large">{{round.data.toPar > 0 ? '+' : ''}}{{round.data.toPar}}</div>
    </div>

    <h3>HCP</h3>

    <div class="row text-center">
        <div class="col-xs-5 large">{{round.hcp}}<br/><span class="text-muted" style="font-size: 14px;">Old</span></div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-arrow-right large"></span></div>
        <div class="col-xs-5 large">{{round.newHcp}}<br/><span class="text-muted" style="font-size: 14px;">New</span></div>
    </div>

</div>