<div class="container" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
    <h2 class="text-center">Settings</h2>

    <h3>Opening clubs</h3>
    <groupselector values="allClubs" selections="clubs.opening" multiselect="true"></groupselector>
    <h3>Approach clubs</h3>
    <groupselector values="allClubs" selections="clubs.approach" multiselect="true"></groupselector>
    <h3>Chip clubs</h3>
    <groupselector values="allClubs" selections="clubs.chip" multiselect="true"></groupselector>

</div>